.message-robot-container {
  display: flex;
  justify-content: start;
  align-items: start;
}

.message-user-container {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-message {
  background-color: rgb(238, 238, 238);
  padding: 15px 25px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}