.send-button {
  color: #fff;
  border: none;
  background-color: rgb(25, 135, 84);
  padding: 12px 20px;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-input {
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  flex-grow: 1;
}

.input-container {
  display: flex;
}